HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
proto-libs/**/build
proto-libs/**/src

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### config ###
**/application-*.yaml
!**/**.sample.yaml

### docket-dev ###
docker-dev/mysql/data/
!docker-dev/mysql/data/README.md
docker-dev/mysql/log/
!docker-dev/mysql/log/README.md

docker-dev/redis/data/
!docker-dev/redis/data/README.md
