# Lombok Configurations

# @see https://projectlombok.org/features/configuration
lombok.addLombokGeneratedAnnotation = true

# @see https://projectlombok.org/features/GetterSetter
lombok.getter.noIsPrefix = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy